/* commons css */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* background colors */
.bgyellow {
  background-color: #F9D555;
}

.bgpurple {
  background-color: #A089E4;
}

.bgpink {
  background-color: #FD6085;
}

.bglightpink {
  background-color: #F2A8AD;
}

.bgtiffany {
  background-color: #7DE0D7;
}

.bgblue {
  background-color: #58B0F6;
}

.bgpurple {
  background-color: #9C8BDE;
}

.bgwhite {
  background-color: rgba(255, 255, 255, 0.8);
}

.bggreen {
  background-color: #89CF7D;
}


/* colors */
.blue {
  color: #074785;
}

.black {
  color: black;
}

.white {
  color: #FFFFFF;
}

.grey {
  color: #3E3E3E;
}

/* header */
.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: black;
  font-weight: bold;
}

.header a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.alightRight {
  text-align: right;
  margin: 0;
}

/* background gradient */
.circle,
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  left: 0;
}

.outside {
  position: relative;
}

/* learning pages */
.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}

.navButton {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: block;
  width: 20%;
  height: 8rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 155px;
  margin-bottom: 1.5rem;
}

.banner {
  padding: 1rem 1rem 1rem 1rem;
  border: none;
  border-radius: 1rem;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerImage {
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding-right: 8rem;
}

.bannerBodyText {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem 1rem 1rem 2.5rem;
  width: 50%;
  font-weight: 200;
  text-align: justify;
}

.bannerTitle {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  text-align: left;
  padding: 1rem 1rem 0 2.5rem;
}

/* quiz */
.quiz {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}


#question {
  margin-bottom: 20px;
}

.option,
li {
  float: left;
  text-align: center;
  margin: 10px;
}

.buttonC {
  border: none;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 15em;
}

.answer {
  margin: 10px;
}

.collapsible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.5rem 3rem 0.5rem 3rem;
  text-align: left;
  font-weight: bold;
}

.active,
.collapsible:hover {
  background-color: white;
}

.expand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.5em;
  display: none;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* example */
.exampleDiv {
  font-family: "Inter", sans-serif;
  font-size: 0.6rem;
  text-align: left;
  padding: 1rem 1rem 1rem 5rem;
}