<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <title>Lógica Proposicional</title>
</head>

<body>
  <div class="outside">
    <div class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 525" opacity="0.38">
        <defs>
          <filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox"
            primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feGaussianBlur stdDeviation="53" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic"
              edgeMode="none" result="blur"></feGaussianBlur>
          </filter>
        </defs>
        <g filter="url(#bbblurry-filter)">
          <ellipse rx="180" ry="181" cx="177.84520461796467" cy="165.057113487683" fill="#f9d555"></ellipse>
          <ellipse rx="180" ry="181" cx="664.261830594527" cy="286.883284004571" fill="#fbb45c"></ellipse>
        </g>
      </svg>
    </div>

    <div class="content">
      <div class="header">
        <a onclick="window.location.href='../index.html'" class="logo blue">LogiSolver</a>
        <div class="header-right">
          <a title="Início" class="black" onclick="window.location.href='../index.html'">Início</a>
          <a title="Lógica Proposicional" class="black"
            onclick="window.location.href='LearnAboutLogicalProposition.html'">Lógica Proposicional</a>
          <a title="Tabela Verdade" class="black" onclick="window.location.href='TruthTableGenerator.html'">Tabela
            Verdade</a>
          <a title="Expressões Lógicas" class="black"
            onclick="window.location.href='LogicalConnectivesIdentifier.html'">Expressões Lógicas</a>
        </div>
      </div>

      <div class="banner bgwhite">
        <div>
          <h1 class="bannerTitle blue">Lógica Proposicional</h1>
          <h1 class="bannerBodyText">Bem-vindo à sua jornada de descoberta da lógica proposicional! </br> </br>
            Nesta página, você encontrará um espaço dedicado ao ensino de alguns dos principais conceitos da lógica
            proposicional, organizados em seis lições que podem ser estudadas no ritmo que desejar. </br> </br>
            Você poderá praticar os conceitos aprendidos aqui nas funcionalidades de “Gerador de Tabela Verdade” e
            “Identificador de Conectivos Lógicos” disponibilizados no LogiSolver.
          </h1>
        </div>
        <img class="bannerImage" src="../images/logicalProposition.png">
      </div>

      <div class="buttonsContainer">
        <button class="navButton bgyellow white" onClick="window.location.href='pages/Proposition.html'">
          Proposições
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bglightpink white" onclick="window.location.href='pages/CompoundProposition.html'">
          Proposições compostas
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgpink white" onclick="window.location.href='pages/ConnectiveTypes.html'">
          Tipos de Conectivos
          <p class="alightRight">→</p>
        </button>
      </div>

      <div class="buttonsContainer">
        <button class="navButton bgtiffany white" onClick="window.location.href='pages/Principles.html'">
          Princípios da Lógica </br> Proposicional
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgblue white" onclick="window.location.href='pages/TruthTable.html'">
          Tabela Verdade
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgpurple white" onclick="window.location.href='pages/Classification.html'">
          Classificação de </br> Proposições Compostas
          <p class="alightRight">→</p>
        </button>
      </div>
    </div>
  </div>
</body>

</html>