<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <title>Tipos de Conectivos</title>
  <style>
    .removeBold {
      font-weight: normal;
    }
  </style>
  <script src="../../controllers/pages/ConnectiveTypes.js"></script>
</head>

<body>
  <div class="outside">
    <div class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 525" opacity="0.38">
        <defs>
          <filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox"
            primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feGaussianBlur stdDeviation="53" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic"
              edgeMode="none" result="blur"></feGaussianBlur>
          </filter>
        </defs>
        <g filter="url(#bbblurry-filter)">
          <ellipse rx="180" ry="181" cx="177.84520461796467" cy="165.057113487683" fill="#f9d555"></ellipse>
          <ellipse rx="180" ry="181" cx="664.261830594527" cy="286.883284004571" fill="#fbb45c"></ellipse>
        </g>
      </svg>
    </div>

    <div class="content">
      <div class="header">
        <a onclick="window.location.href='../../index.html'" class="logo blue">LogiSolver</a>
        <div class="header-right">
          <a title="Início" class="black" onclick="window.location.href='../../index.html'">Início</a>
          <a title="Lógica Proposicional" class="black"
            onclick="window.location.href='../LearnAboutLogicalProposition.html'">Lógica Proposicional</a>
          <a title="Tabela Verdade" class="black" onclick="window.location.href='../TruthTableGenerator.html'">Gerador Tabela
            Verdade</a>
          <a title="Expressões Lógicas" class="black"
            onclick="window.location.href='../LogicalConnectivesIdentifier.html'">Identificador de Conectivos</a>
        </div>
      </div>

      <div class="banner bgwhite">
        <div>
          <h1 class="bannerTitle blue">Tipos de Conectivos</h1>
          <h1 class="bannerBodyText">
            As proposições compostas são a combinação de duas ou mais proposições simples. Para conectar as 
            proposições simples são utilizados o que chamamos de conectivos lógicos. </br>
            Há cinco conectivos que podem ser utilizados: conjunção, disjunção, condicional, bicondicional 
            e negação. </br> </br>
            <strong>Conjunção:</strong> É chamada de conjunção a combinação de duas proposições ligadas pela palavra e, 
            que tem como símbolo ∧ ou &&. </br>
            Outras palavras que podem conectar proposições por conjunção são: mas, todavia, contudo, no entanto, 
            visto que, enquanto, além disso, embora. </br>
            A frase “Ângela tem 35 anos e o céu é azul” é representada por <strong>A ∧ C</strong>. </br> </br>
            <strong>Disjunção:</strong> É o resultado da combinação de duas proposições ligadas pela palavra ou, 
            simbolizada por ∨ ou ||. </br>
            A proposição composta “vamos ao cinema ou vamos ao teatro” é representada então por 
            <strong>C ∨ T</strong>. </br> </br>
            <strong>Condicional:</strong> Duas proposições formam uma condicional quando for possível colocá-las da 
            seguinte forma: se (proposição 1), então (proposição 2). O símbolo utilizado para condicional é → ou =>. </br>
            Outras expressões que podem conectar condicionais são: “no caso de”, “com a condição de que”, “se”. </br> </br>
            <strong>Bicondicional:</strong> A proposição composta que puder ser apresentar por (proposição 1) se, 
            e somente se, (proposição 2) é chamada de bicondicional, sendo simbolizada por ↔ ou <=>. </br> </br>
            <strong>Negação:</strong> É o único dos conectivos que não liga duas proposições, mas sim nega a afirmação da 
            proposição que o procede. A frase “Não é verdade que Maria saiu de casa hoje.”, 
            neste caso, pode ser representada apenas por <strong>¬M</strong> ou <strong>!M</strong>. </br>
          </h1>
        </div>
        <img class="bannerImage" src="../../images/connectiveTypes.png">
      </div>

      <div>
        <div class="collapsible grey">
          <p>Teste seu conhecimento</p>
          <p>⮟</p>
        </div>
        <div class="expand">
          <div class="quiz-container">
            <ol>
              <div class="quiz grey">
                <li><strong>O conectivo Disjunção pode ser representado por ||.</strong></li>
                <div>
                  <div class="option">
                    <button class="buttonC bggreen" onclick="checkAnswer('Verdadeiro', 'result1')">Verdadeiro</button>
                  </div>
                  <div class="option">
                    <button class="buttonC bgpink" onclick="checkAnswer('Falso', 'result1')">Falso</button>
                  </div>
                  <div class="answer" id="result1"></div>
                </div>
              </div>

              <div class="quiz grey">
                <li><strong>A palavra OU conecta proposições de conjunção.</strong></li>
                <div>
                  <div class="option">
                    <button class="buttonC bggreen" onclick="checkAnswer('V', 'result2')">Verdadeiro</button>
                  </div>
                  <div class="option">
                    <button class="buttonC bgpink" onclick="checkAnswer('F', 'result2')">Falso</button>
                  </div>
                  <div class="answer" id="result2"></div>
                </div>
              </div>

              <div class="quiz grey">
                <li><strong>O conectivo lógico de negação é o único que não liga duas proposições.</strong></li>
                <div>
                  <div class="option">
                    <button class="buttonC bggreen" onclick="checkAnswer('True', 'result3')">Verdadeiro</button>
                  </div>
                  <div class="option">
                    <button class="buttonC bgpink" onclick="checkAnswer('False', 'result3')">Falso</button>
                  </div>
                  <div class="answer" id="result3"></div>
                </div>
              </div>
          </div>
          </ol>
        </div>
      </div>

      <div class="buttonsContainer">
        <button class="navButton bgyellow white" onClick="window.location.href='Principles.html'">
          Princípios da Lógica </br> Proposicional
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bglightpink white" onClick="window.location.href='Proposition.html'">
          Proposições
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgpink white" onclick="window.location.href='CompoundProposition.html'">
          Proposições compostas
          <p class="alightRight">→</p>
        </button>
      </div>

      <div class="buttonsContainer">
        <button class="navButton bgtiffany white" onclick="window.location.href='ConnectiveTypes.html'">
          Tipos de Conectivos
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgblue white" onclick="window.location.href='TruthTable.html'">
          Tabela Verdade
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgpurple white" onclick="window.location.href='Classification.html'">
          Classificação de </br> Proposições Compostas
          <p class="alightRight">→</p>
        </button>
      </div>
    </div>
  </div>
</body>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

</html>