<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <title>Proposições</title>
  <style>
    .removeBold {
      font-weight: normal;
    }
  </style>
  <script src="../../controllers/pages/Proposition.js"></script>
</head>

<body>
  <div class="outside">
    <div class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 525" opacity="0.38">
        <defs>
          <filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox"
            primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feGaussianBlur stdDeviation="53" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic"
              edgeMode="none" result="blur"></feGaussianBlur>
          </filter>
        </defs>
        <g filter="url(#bbblurry-filter)">
          <ellipse rx="180" ry="181" cx="177.84520461796467" cy="165.057113487683" fill="#f9d555"></ellipse>
          <ellipse rx="180" ry="181" cx="664.261830594527" cy="286.883284004571" fill="#fbb45c"></ellipse>
        </g>
      </svg>
    </div>

    <div class="content">
      <div class="header">
        <a onclick="window.location.href='../../index.html'" class="logo blue">LogiSolver</a>
        <div class="header-right">
          <a title="Início" class="black" onclick="window.location.href='../../index.html'">Início</a>
          <a title="Lógica Proposicional" class="black"
            onclick="window.location.href='../LearnAboutLogicalProposition.html'">Lógica Proposicional</a>
          <a title="Tabela Verdade" class="black" onclick="window.location.href='../TruthTableGenerator.html'">Tabela
            Verdade</a>
          <a title="Expressões Lógicas" class="black"
            onclick="window.location.href='../LogicalConnectivesIdentifier.html'">Expressões Lógicas</a>
        </div>
      </div>

      <div class="banner bgwhite">
        <div>
          <h1 class="bannerTitle blue">Proposições</h1>
          <h1 class="bannerBodyText">
            Proposições são os argumentos analisados pela lógica proposicional. </br> </br>
            Considera-se uma proposição qualquer sentença declarativa que possa assumir o valor de verdadeiro ou falso.
            A propriedade que define o valor (verdadeiro ou falso) de uma proposição é chamada de valor-verdade.</br> </br>
            É importante lembrar que a veracidade da afirmação (o valor-verdade ser verdadeiro ou falso) não influencia no fato dela ser uma
            proposição, já que a frase “meus sapatos são cinza” pode ser verdadeira se dita por alguém calçando sapatos
            cinzas e falsa se dita por alguém com sapatos vermelhos. Em ambos os casos a afirmação continua sendo uma
            proposição. </br> </br>
            Exemplos de proposições são “o gato tem pelos” e “o carro é veloz”, já que ambas são afirmações,
            independentemente de sua veracidade. São exemplos de frases que não são proposições “venha aqui!” e “quantos
            anos você tem?”.
          </h1>
        </div>
        <img class="bannerImage" src="../../images/propositions.png">
      </div>

      <div class="exampleDiv">
        <h1 class="removeBold">Mais exemplos de proposições incluem:</h1>
        <h1 class="blue">
          • O céu é azul. </br>
          • 2 + 2 = 7. </br>
          • A lua é um satélite natural da Terra. </br>
          • 1 é menor que 5.
        </h1>
      </div>

      <div>
        <div class="collapsible grey">
          <p>Teste seu conhecimento</p>
          <p>⮟</p>
        </div>
        <div class="expand">
          <div class="quiz-container">
            <ol>
              <div class="quiz grey">
                <li><strong>Para que uma afirmação seja considerada uma proposição é necessário que ela tenha um valor-verdade.</strong></li>
                <div>
                  <div class="option">
                    <button class="buttonC bggreen" onclick="checkAnswer('Verdadeiro', 'result1')">Verdadeiro</button>
                  </div>
                  <div class="option">
                    <button class="buttonC bgpink" onclick="checkAnswer('Falso', 'result1')">Falso</button>
                  </div>
                  <div class="answer" id="result1"></div>
                </div>
              </div>

              <div class="quiz grey">
                <li><strong>Uma frase sem valor verdade pode ser uma proposição.</strong></li>
                <div>
                  <div class="option">
                    <button class="buttonC bggreen" onclick="checkAnswer('V', 'result2')">Verdadeiro</button>
                  </div>
                  <div class="option">
                    <button class="buttonC bgpink" onclick="checkAnswer('F', 'result2')">Falso</button>
                  </div>
                  <div class="answer" id="result2"></div>
                </div>
              </div>

              <div class="quiz grey">
                <li>A frase <strong>"meu gato fala francês."</strong> é uma preposição?</li>
                <div>
                  <div class="option">
                    <button class="buttonC bggreen" onclick="checkAnswer('True', 'result3')">Verdadeiro</button>
                  </div>
                  <div class="option">
                    <button class="buttonC bgpink" onclick="checkAnswer('False', 'result3')">Falso</button>
                  </div>
                  <div class="answer" id="result3"></div>
                </div>
              </div>

              <div class="quiz grey">
                <li>A frase <strong>"você está bem?"</strong> é uma preposição?</li>
                <div>
                  <div class="option">
                    <button class="buttonC bggreen" onclick="checkAnswer('Sim', 'result4')">Verdadeiro</button>
                  </div>
                  <div class="option">
                    <button class="buttonC bgpink" onclick="checkAnswer('Nao', 'result4')">Falso</button>
                  </div>
                  <div class="answer" id="result4"></div>
                </div>
              </div>
          </div>
          </ol>
        </div>
      </div>

      <div class="buttonsContainer">
        <button class="navButton bgyellow white" onClick="window.location.href='Proposition.html'">
          Proposições
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bglightpink white" onclick="window.location.href='CompoundProposition.html'">
          Proposições compostas
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgpink white" onclick="window.location.href='ConnectiveTypes.html'">
          Tipos de Conectivos
          <p class="alightRight">→</p>
        </button>
      </div>

      <div class="buttonsContainer">
        <button class="navButton bgtiffany white" onClick="window.location.href='Principles.html'">
          Princípios da Lógica </br> Proposicional
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgblue white" onclick="window.location.href='TruthTable.html'">
          Tabela Verdade
          <p class="alightRight">→</p>
        </button>
        <button class="navButton bgpurple white" onclick="window.location.href='Classification.html'">
          Classificação de </br> Proposições Compostas
          <p class="alightRight">→</p>
        </button>
      </div>
    </div>
  </div>
</body>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

</html>